/* -------------------------------- 

Primary style

-------------------------------- */
/* line 15, /var/www/idea/app/assets/stylesheets/projects.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 20, /var/www/idea/app/assets/stylesheets/projects.scss */
.bootbox {
  font-family: "Open Sans", sans-serif;
  width: auto !important;
  margin-left: auto !important;
  background-color: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  position: fixed !important;
  left: 0 !important;
  overflow: visible !important;
  overflow-y: scroll !important;
  transition: opacity 0.15s linear 0s !important;
}

/* line 35, /var/www/idea/app/assets/stylesheets/projects.scss */
blockquote.block-green {
  border-left-color: #75ce66;
}

/* line 39, /var/www/idea/app/assets/stylesheets/projects.scss */
blockquote.block-red {
  border-left-color: #c03b44;
}

/* line 43, /var/www/idea/app/assets/stylesheets/projects.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 47, /var/www/idea/app/assets/stylesheets/projects.scss */
a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* line 53, /var/www/idea/app/assets/stylesheets/projects.scss */
img {
  max-width: 100%;
}

/* line 57, /var/www/idea/app/assets/stylesheets/projects.scss */
h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

/* -------------------------------- 

Modules

-------------------------------- */
/* line 68, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
/* line 73, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 86, /var/www/idea/app/assets/stylesheets/projects.scss */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
/* line 92, /var/www/idea/app/assets/stylesheets/projects.scss */
header h1 {
  color: #ffffff;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  /* line 86, /var/www/idea/app/assets/stylesheets/projects.scss */
  header {
    height: 300px;
    line-height: 300px;
  }
  /* line 101, /var/www/idea/app/assets/stylesheets/projects.scss */
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

/* line 107, /var/www/idea/app/assets/stylesheets/projects.scss */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 115, /var/www/idea/app/assets/stylesheets/projects.scss */
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #f2f2f2;
}
@media only screen and (min-width: 1170px) {
  /* line 107, /var/www/idea/app/assets/stylesheets/projects.scss */
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  /* line 132, /var/www/idea/app/assets/stylesheets/projects.scss */
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

/* line 139, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
/* line 20, /usr/local/rvm/gems/ruby-2.4.0/gems/bourbon-4.3.3/app/assets/stylesheets/addons/_clearfix.scss */
.cd-timeline-block::after {
  clear: both;
  content: "";
  display: table;
}
/* line 144, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-block:first-child {
  margin-top: 0;
}
/* line 148, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  /* line 139, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-block {
    margin: 4em 0;
  }
  /* line 155, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  /* line 159, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

/* line 165, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
/* line 174, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
/* line 185, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-img.cd-green {
  background: #75ce66;
}
/* line 189, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-img.cd-red {
  background: #c03b44;
}
/* line 193, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-img.cd-yellow {
  background: #f0ca45;
}
/* line 197, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-img .link-color {
  color: #acb7c0;
}
@media only screen and (min-width: 1170px) {
  /* line 165, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  /* line 211, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  /* line 215, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* line 238, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #f2f2f2;
}
/* line 20, /usr/local/rvm/gems/ruby-2.4.0/gems/bourbon-4.3.3/app/assets/stylesheets/addons/_clearfix.scss */
.cd-timeline-content::after {
  clear: both;
  content: "";
  display: table;
}
/* line 247, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content h2 {
  color: #303e49;
}
/* line 251, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
/* line 255, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
/* line 259, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
/* line 264, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: #ffffff;
  border-radius: 0.25em;
}
/* line 271, /var/www/idea/app/assets/stylesheets/projects.scss */
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
/* line 276, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content .cd-date {
  float: right;
  padding: .8em 0;
  opacity: .7;
}
/* line 282, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
}
@media only screen and (min-width: 768px) {
  /* line 294, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  /* line 298, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  /* line 302, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 238, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  /* line 312, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
  }
  /* line 319, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  /* line 323, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  /* line 331, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  /* line 335, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  /* line 344, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* -------------------------------- 

Primary style

-------------------------------- */
/* line 386, /var/www/idea/app/assets/stylesheets/projects.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 391, /var/www/idea/app/assets/stylesheets/projects.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 397, /var/www/idea/app/assets/stylesheets/projects.scss */
body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: #000;
  background-color: #fff;
}

/* line 404, /var/www/idea/app/assets/stylesheets/projects.scss */
a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* line 410, /var/www/idea/app/assets/stylesheets/projects.scss */
img {
  max-width: 100%;
}

/* line 414, /var/www/idea/app/assets/stylesheets/projects.scss */
h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
/* line 424, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

/* line 430, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 442, /var/www/idea/app/assets/stylesheets/projects.scss */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}

/* line 448, /var/www/idea/app/assets/stylesheets/projects.scss */
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}

@media only screen and (min-width: 1170px) {
  /* line 454, /var/www/idea/app/assets/stylesheets/projects.scss */
  header {
    height: 300px;
    line-height: 300px;
  }

  /* line 458, /var/www/idea/app/assets/stylesheets/projects.scss */
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
/* line 464, /var/www/idea/app/assets/stylesheets/projects.scss */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 470, /var/www/idea/app/assets/stylesheets/projects.scss */
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  /* line 481, /var/www/idea/app/assets/stylesheets/projects.scss */
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  /* line 485, /var/www/idea/app/assets/stylesheets/projects.scss */
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
/* line 491, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

/* line 495, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 500, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-block:first-child {
  margin-top: 0;
}

/* line 503, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  /* line 507, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-block {
    margin: 4em 0;
  }

  /* line 510, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-block:first-child {
    margin-top: 0;
  }

  /* line 513, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
/* line 518, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

/* line 527, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

/* line 537, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-img.cd-picture {
  background: #75ce66;
}

/* line 540, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-img.cd-movie {
  background: #c03b44;
}

/* line 543, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-img.cd-location {
  background: #f0ca45;
}

@media only screen and (min-width: 1170px) {
  /* line 547, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  /* line 556, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }

  /* line 559, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* line 624, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: -3px 2px 5px #888888;
}

/* line 632, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 637, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content h2 {
  color: #303e49;
}

/* line 640, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 16px;
  font-size: 0.8125rem;
  text-decoration: bold;
}

/* line 645, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}

/* line 648, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

/* line 652, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

/* line 659, /var/www/idea/app/assets/stylesheets/projects.scss */
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}

/* line 662, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

/* line 667, /var/www/idea/app/assets/stylesheets/projects.scss */
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
  /* line 678, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  /* line 682, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }

  /* line 686, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 692, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }

  /* line 697, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  /* line 703, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content .cd-read-more {
    float: right;
  }

  /* line 706, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }

  /* line 715, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }

  /* line 718, /var/www/idea/app/assets/stylesheets/projects.scss */
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
