<h3><center>Projects</center></h3>
<br>

<div class="row-fluid projects">
  <% @projects.each do |project| %>
      <div class="col col-sm-12 col-md-12 col-lg-12">
        <div class="card project">
          <div class="card-content black-text">
            <span class="card-title"><%= project.title %></span>
            <p><%= project.description %></p>
          </div>
          <div class="card-action">
            <%= link_to "View Project", project %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div class="fixed-action-btn horizontal">
  <%= link_to new_project_path, class: "btn-floating btn-large red" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>