@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";

body {
  font-family: "Open Sans", sans-serif;
}

.collapsing {
  background-color: white;
  border: 1px solid transparent;
  z-index: 9999999;
}

.collapse.in {
  background-color: white;
  border: 1px solid transparent;
  z-index: 9999999;
}

.caret {
  border-color: transparent !important;
}